/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base */
body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #f5e99f;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #1c2361;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #c7dceb;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #5c87db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1c2361;
}

#premium-offer {
    margin-top: 20px;
    padding: 20px;
    background-color: #001f3f;
    color: #fff;
    border-radius: 10px;
}

#premium-offer h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#central-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#central-buttons img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

#central-buttons img:hover {
    transform: scale(1.1);
}
