/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Styles de la page d'accueil */
.home {
    background-color: #f5e99f;
    color: #333;
}

.home header {
    background-color: #1c2361;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.home h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.home nav ul {
    list-style: none;
}

.home nav ul li {
    display: inline;
    margin-right: 20px;
}

.home nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.home nav ul li a:hover {
    color: #c7dceb;
}

.home main {
    padding: 20px;
}

.home section {
    margin-bottom: 30px;
}

.home h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.home label {
    display: block;
    margin-bottom: 5px;
}

.home input[type="text"],
.home input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.home button {
    padding: 10px 20px;
    background-color: #5c87db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home button:hover {
    background-color: #1c2361;
}

/* Styles de la page de redirection après connexion */
.redirect-after-login {
    background-color: #c2d9f0;
    color: #333;
}

.redirect-after-login header {
    background-color: #1c2361;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.redirect-after-login h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.redirect-after-login nav ul {
    list-style: none;
}

.redirect-after-login nav ul li {
    display: inline;
    margin-right: 20px;
}

.redirect-after-login nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.redirect-after-login nav ul li a:hover {
    color: #c7dceb;
}

.redirect-after-login main {
    padding: 20px;
}

/* Styles de la page de redirection après création du compte */
.redirect-after-signup {
    background-color: #c2d9f0;
    color: #333;
}

.redirect-after-signup header {
    background-color: #1c2361;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.redirect-after-signup h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.redirect-after-signup nav ul {
    list-style: none;
}

.redirect-after-signup nav ul li {
    display: inline;
    margin-right: 20px;
}

.redirect-after-signup nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.redirect-after-signup nav ul li a:hover {
    color: #c7dceb;
}

.redirect-after-signup main {
    padding: 20px;
}
